stf/doc/latex/*
stf/doc/html/*
stf/doc/xml/*
stf/doc/_build/*
stf/doc/_static/*
stf/doc/_templates/*
stf/bin/*
stf/src/*.o
stf/include/*
stf/lib/*
.tags
stf/analysis/*/*.o
stf/NBodylib/src/*/*.o
stf/NBodylib/src/*/*.a
stf/NBodylib/include/*
stf/NBodylib/lib/*
stf/NBodylib/doc/latex/*
stf/NBodylib/doc/html/*
stf/NBodylib/doc/xml/*
stf/analysis/treefrog/doc/latex/*
stf/analysis/treefrog/doc/html/*
stf/analysis/treefrog/doc/xml/*
stf/Makefile.config
*~
*.tag
