stf/doc/latex/*
stf/doc/html/*
stf/doc/_build/*
stf/doc/_static/*
stf/doc/_templates/*
stf/bin/*
stf/src/*.o
stf/include/*
stf/lib/*
.tags
stf/analysis/*/*.o
stf/NBodylib/src/*/*.o
stf/NBodylib/src/*/*.a
stf/NBodylib/include/*
stf/NBodylib/lib/*
stf/analysis/halotree/doc/latex/*
stf/analysis/halotree/doc/html/*
stf/Makefile.config
*~
